* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    margin: 0 auto;
    max-width: 1100px;
}

#checkbox-menu, 
.toggle {
    display: none;
    width: 100%;
}

.menu {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: #000000;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px 15px;
    transition: background .2s linear;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 3px;
}

.menu li a.logo{
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contacts {
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background-image: url(img/room.jpg);
    width: 960px;
    height: 640px;
}

.intro .intro-text {
    position: absolute;
    font-size: 62px;
    right: 750px;
    top: 220px;
}

.intro-contacts {
    background-color: #ffcc01;
    max-width: 590px;
    position: absolute;
    right: 170px;
    top: 634px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contacts i {
    color: #ffffff;
    margin-right: 30px;
}

.intro-contacts p {
    font-size: 18px;
    margin-right: 60px;
}

.stats {
    display: flex;
    margin-top: 130px;
}

.stats-line {
    display: flex;
}

.stats-text {
    padding: 40px;
}

.stats-text h2 {
    font-size: 40px;
    margin-bottom: 70px;
}

.stats-text p {
    margin-top: 50px;
    font-size: 13px;
    line-height: 27px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats-square {
    font-size: 40px;
    color: #ffcc01;
    margin-bottom: 15px;
}

.stats-text {
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 48px;
        width: 100%;
        color: #000000;
        background: #ffcc01;
        transition: all .1s linear;
    }
    .toggle:hover {
        background: #d3a900;
    }
    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }
    .menu li a.contacts {
        margin-right: 0;
    }

    .intro {
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img {
        background-position: bottom 50px right 570px;
    }
    .intro .intro-text {
        position: relative;
        font-size: 35px;
        right: -10px;
        top: 95px;
    }
    .intro .intro-contacts {
        right: 0;
        top: -55px;
        padding: 20px 10px;
        position: relative;
    }
    .intro-contacts i {
        margin-right: 10px;
    }
    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
    }

    .stats {
        margin-top: 0;
        flex-direction: column;
    }
    .stats-text {
        padding: 10px;
    }
    .stats-text h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .stats-text p {
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }
    .square {
        height: 140px;
    }
}
